<!DOCTYPE html>
{% load static %}
<html lang="ru" style="height: 100%;">
  <head>
    <meta charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet" media="screen">
    <!--<link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32">-->
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

    <title>Movie Light</title>

  </head>
  
  <body style="height: 100%;">
    <div id="app"></div>
    <script type="text/javascript" src="{% static 'js/build.js' %}"></script>
  </body>

</html>
